body {
  margin: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  overflow-x: hidden;
}

/* GENERAL STYLES*/
section {
  margin-bottom: 20px;
}

/* GROUP (MULTIPLE ELEMENT) STYLES*/
.section h2{
  font-size: 2.8em;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 400;
}
.roadmap-section p, 
.section .tagline, 
.advisor-section p,
.blog-section p,
.template-section-text,
.get-started-section-text,
.get-started-section-card-text
{
  color: rgb(93, 116, 221);
  position: relative;
  font-size: 1.2em;
  margin-top: 8px;
  text-align: center;
  font-weight: 400;

}
.roadmap-section p:before, 
.teemplate-section .tagline:before, .advisor-section p:before,
.blog-section p::before,
.template-section-text::before,
.get-started-section-text::before,
.get-started-section-card-text::before {
  content: '';
  position: absolute;
  padding: 2px 30px;
  border-radius: 8px;
  top: 40px;
  left: 50%;
  background-image: linear-gradient(180deg, rgb(108, 132, 241) 0%, rgb(169, 88, 227) 100%);
  transform: translateX(-50%);
}
@media (max-width:480px) {
  .get-started-section-card-text::before{
      top: 140px;
      left: 18%;
      padding: 2px 50px;
  }
}
@media (min-width:480px) {
  .get-started-section-card-text::before{
      top: 100px;
      left: 10%;
      padding: 2px 50px;
  }}
.roadmap-section button, 
.teemplate-section button {
  display: block;
  padding: 20px 40px;
  margin: 40px auto;
  border: none;
  font-size: 1em;
  border-radius: 30px;
  background-image: linear-gradient(180deg, rgb(108, 132, 241) 0%, rgb(169, 88, 227) 100%);
  color: white;
}
@media (min-width:1024px) {
  .get-started-section-card-text::before{
      top: 270px;
      left: 20%;
      padding: 2px 50px;
  }
}

 /*TEMPLATE SECTION STYLES */
.template-section, .get-started-section{
  background-color: rgb(248, 248, 254);
  padding: 10px 0;
  line-height: 1.8;
}
.grid-con, .cards{
  display: grid;
  grid-template-columns: 1fr;
}

.template-section-card, .get-started-section-card {
  padding: 1.2em 1.5em;
  text-align: center;
  color: #505050;
  line-height: 24px;
  margin: 0;
}
  .get-started-section-card {
  align-items: start;
 text-align: left;
 padding: 0;
}

.template-section-card-text {
  font-size: 1em;
  width: 91%;
  margin: auto;
}
.get-started-section-card-text{
  margin: 0;
  font-size: 1em;
  width: 100%;
  text-align: left;
}
.template-section svg {
  width: 36px;
  fill: rgb(100, 125, 238);
}

.template-section-card-title,
.get-started-section-card-title {
  font-size: 18px;
  font-weight: 600;
}

@media (max-width:550px){
.get-started-section h2,
.template-section h2{
font-size: 2.2em;
}
}
.get-started-section {
  background-color: rgb(255, 255, 255);
}
.get-started-section-card {
  padding: 30px;
  margin-bottom: 50px;
}
.get-started-section-card-text {
  max-width: 350px;
  color: rgb(80, 80, 80);
}
.get-started-section-card-number {
  font-weight: 500;
  font-size: 54px;
  line-height: 1;
  color: rgb(100, 125, 238);
}
@media (min-width: 550px){
  .grid-con{
grid-template-columns: repeat(2, 1fr);
padding: 10px 100px;
gap: 0;
  }
  .template-section-card-text {
  font-size: 1.2em;
  width: 200px;
  padding: 0;
  font-weight: 300;
  
}

  .template-section-card {
    padding: 1.2em 0;
  margin: 20px 0;
}
.template-section svg {
  width: 50px;
}
}
@media (min-width: 480px){
.get-started-section-card {
  padding: 50px 80px;
}
.get-started-section-card-text {
  max-width: 680px;
  font-size: 1.2em;
  line-height: 1.5 ;
}
}

@media (min-width: 1024px){
  .grid-con, .cards{
grid-template-columns: repeat(3, 1fr);
  }
    .template-section-card-text {
  font-size: 1.2em;
  width: 270px;}

.get-started-section-card-text{
  font-size: 1.2em;
  width: 250px;
  max-width: 350px;
}
}



.tab,
.offers {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  /* gap: 20px; */
  border: 2px solid rgb(100, 125, 238);
  border-radius: 50px;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 30px;
  /* background-color: white; */
  background-color: rgb(248, 247, 253);
}

.tab-item {
  text-align: center;
  padding: 10px 30px;
}

.tab-item:hover {
  color: rgb(100, 125, 238);
  cursor: pointer;
}

/* display: block; */
.tab-item:first-child {
  background-color: rgb(100, 125, 238);
  color: white;
  border-radius: 50px 0 0 50px;
}

@media (max-width:480px) { 
.offers-item {
  padding: 20px;
  text-align: center;
  border-bottom: 2px solid rgb(100, 125, 238);
  width: 280px;

}
.two{
  border-bottom: none;
}
  .offers {
  border: none;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 1.5em;
  background: linear-gradient(90deg, rgba(100,125,238,0.06) 0%, rgba(167,84,226,0.06) 100%);
  border: 3px solid rgb(100, 125, 238);
  margin: 3em auto;
  padding-top: 10px;
  max-width: 320px;
  min-width: 250px;
}

}
.offers {
  border-radius: 20px;
  width: 90%;
  position: relative;
}
 .offers::before,
  .offers::after {
  content: '';
  position: absolute;
  border-radius: 0.7em;
  opacity: 0.3;
  background-image: linear-gradient(-60deg, #647dee 0%, #a754e2 100%);
  transition: 0.4s ease;
}
  .offers::before {
  z-index: 2;
  left: 20px;
  right: 20px;
  height: 10px;
  bottom: -10px;
}
  .offers::after {
  z-index: 1;
  left: 30px;
  right: 30px;
  height: 20px;
  bottom: -20px;}
.offers-item {
  padding: 20px;
  text-align: center;
  display: inline-block;
  border-right: 2px solid rgb(100, 125, 238);
  width: 280px;

}

.offers-item:last-child {
  border-right: none;
}

.offers-get,
.offers-value {
  font-size: 20px;
  line-height: 1;
  color: rgb(52, 52, 52);
  font-weight: 500;
}

.offers-for {
  font-size: 16px;
  color: rgb(80, 80, 80);
}

.offers-value {
  font-size: 32px;
}

.offers-btn {
  font-size: 16px;
  line-height: 1.5;
  padding: 10px;
  background: linear-gradient(to right, rgb(110, 175, 255, 0.7), rgb(213, 89, 255, 0.7));
  color: #fff;
  border-radius: 40px;
  width: 45%;
  cursor: pointer;
  text-decoration: none;
  border: none;
}

 /*ROADMAP SECTION STYLES */

.roadmap {
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.roadmap dl {
  margin-top: 40px;
  position: relative;
  padding: 25px 0;
}
.roadmap dl:before {
  width: 5px;
  height: 100%;
  left: 12px;
  top: 0;
  background-image: linear-gradient(180deg, rgb(108, 132, 241) 0%, rgb(169, 88, 227) 100%);
}
.roadmap dt {
  position: relative;
  margin-top: 40px;
  padding-left: 35px;
  font-size: 18px;
  color: rgb(37, 37, 37);
}
.roadmap dt:before {
  border-radius: 100%;
  padding: 12px 12px;
  left: 0;
  top: 1px;
  background-image: linear-gradient(90deg, #647dee 0%, #a754e2 100%);
  opacity: 0.4;
}
.roadmap dt:after {
  border-radius: 100%;
  padding: 8px 8px;
  left: 4px;
  top: 5px;
  background-color: #fff;
  z-index: 2;
}
.roadmap dd {
  font-size: 1.2em;
  color: #505050;
  line-height: 26px;
  margin-bottom: 0;
  margin-top: 15px;
}
.roadmap dl:before,
.roadmap dt:before,
.roadmap dt:after {
  position: absolute;
  content: '';
}

@media (min-width: 768px) {
  .roadmap{
    width: 70%;
  }
}

 /*HOW IT WORK SECTION STYLES */
.how-it-works-section {
  text-align: center;
  color: #fff;
  padding: 60px 20px;
  background: url("/assets/section-bg2.jpg"), linear-gradient(to right, rgb(110, 175, 255, 0.3), rgb(213, 89, 255, 0.3));
  background-size: cover;
  background-blend-mode: overlay;
  margin: 60px 0;
}
video-btn-container a img {
  filter: invert(100%) brightness(100%) contrast(100%);
  width: 30px;
  height: 30px;
}
.video-btn-container {
  border-radius: 50%;
  background: linear-gradient(to right, rgb(110, 175, 255), rgb(213, 89, 255));
  width: 80px;
  height: 80px;
  margin: 0 auto 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.how-it-works-section h4 {
  font-family: 'Arial', sans-serif;
  font-weight: 300;
  line-height: 1.2;
  font-size: 2.5em;
  margin-bottom: 40px;
}
.how-it-works-section p {
  font-family: 'Arial', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  font-size: 1.3em;
  max-width: 600px;
  margin: 0 auto;
}
@media (min-width: 768px) {
.how-it-works-section {
  padding: 100px 20px;
}
}

 /*IT IS SAFE SECTION STYLES */
.it-is-safe-section h2{
  position: relative;
  font-weight: 300;
  text-align: center;
  font-size: 2.8em;
  margin-top: 100px;
}
.it-is-safe-section h2:before {
  content: '';
  position: absolute;
  padding: 2px 35px;
  border-radius: 8px;
  top: 80px;
  left: 50%;
  background-image: linear-gradient(180deg, rgb(108, 132, 241) 0%, rgb(169, 88, 227) 100%);
  transform: translateX(-50%);
}
.features-container {
  display: flex;
  flex-direction: column;
  padding: 40px 12px;
  background: #fff;
  align-items: center;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  line-height: 1.7;
  margin-top: 50px;
}
.features {
  width: 100%;
  margin-bottom: 20px;
}
.dotted-line{
  display: none; 
}
.features .icon {
  border: 3px dashed #ddd;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: 0 auto 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.features .icon img {
  width: 50px;
  height: 50px;
  filter: invert(50%) sepia(45%) saturate(5475%) hue-rotate(226deg) brightness(95%) contrast(101%);
}
.features h3 {
  font-weight: 400;
  margin: 1.5em 0;
}
.features p {
  font-size: 1.2em;
  color: #555;
  width: 350px;
  margin: 20px auto;
}
.license-features{
  padding-top: auto;
}
@media (min-width: 968px) {
.features-container {
  flex-direction: row;
  justify-content: center;
}
.dotted-line{
  display: flex;
  border: 2px dashed #ddd;
  width: 300px;
  margin-bottom: 230px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.license-features{
  padding-top: 30px;
}
.features {
  max-width: 300px;
}

.features p {
    width: auto;
    margin: 0;
}
}

/*TEMPLATE FEATURES SECTION*/
.teemplate-section, .team/*OUR TEAM SECTION*/{
  background: linear-gradient(90deg, rgba(100,125,238,0.05) 0%, rgba(167,84,226,0.05) 100%);
  padding: 20px 0;
}
.teemplate-text{
  padding: 0 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
  font-size: 1.2em;
  line-height: 2;
  color: #555;
  font-family: 'Roboto', sans-serif;
  margin-top: 50px;
}
.teemplate-section button{
  margin-top: 30px 0;
}
@media (min-width: 768px) {
.teemplate-text{
  width:600px;
}
}

/* DATA SECTION*/
.data-section {
  color: #fff;
  padding: 120px 20px;
  background: url("/assets/transaction.jpg"), linear-gradient(to right, rgb(110, 175, 255, 0.3), rgb(213, 89, 255, 0.3));
  background-size: cover;
  background-blend-mode: overlay;
  display: grid;
  gap: 1rem;
  padding: 5rem 1rem;
  text-align: center;
  grid-template-columns: repeat(1, 1fr);
}
.data-section p{
  color: #fff;
  font-weight: 400;
  font-size: 0.88em;
  margin-bottom: 20px;
}
.data-section h2{
  font-family: 'Jura', sans-serif;
  font-weight: 200;
  font-size: 2.6em;
  line-height: 100%;
  margin-bottom: 8px;
}
@media (min-width:768px){
  .data-section{
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width:1024px){
  .data-section{
    grid-template-columns: repeat(4, 1fr);
  }
}
.grid-item
/*ADVISORS SECTION & OUR TEAM SECTION STYLES*/
.advisor-section{
  margin-top: 70px;
}
.advisor-section p {
  color: #555;
  font-size: 1.2em;
  padding: 0 20px;
  line-height: 1.7;
  display: flex;
}
.advisor-section p:before {
  top: 130px;
}
.advisor-container {
  display: grid;
  padding: 50px 5px;
  text-align: center;
  grid-template-columns: repeat(1, 1fr);
  margin-top: 1.5em;
}
.grid-item {
  position: relative;
  border-radius: 1.5em;
  background: linear-gradient(90deg, rgba(100,125,238,0.06) 0%, rgba(167,84,226,0.06) 100%);
  border: 3px solid rgb(100, 125, 238);
  margin: 3em auto;
  padding-top: 10px;
  max-width: 320px;
  min-width: 250px;
}
.team-con .grid-item {
max-width: 250px;
}
.grid-item::before,
.grid-item::after {
  content: '';
  position: absolute;
  border-radius: 0.7em;
  opacity: 0.3;
  background-image: linear-gradient(-60deg, #647dee 0%, #a754e2 100%);
  transition: 0.4s ease;
}
.grid-item::before {
  z-index: 2;
  left: 20px;
  right: 20px;
  height: 10px;
  bottom: -10px;
}
.grid-item::after {
  z-index: 1;
  left: 30px;
  right: 30px;
  height: 20px;
  bottom: -20px;
}
.grid-item img {
  width: 100%;
  border-radius: 16px 16px 0 0;
  margin-bottom: -5px;
}
.advisor-container .grid-item h3 {
  font-weight: 500;
  margin: 0.7em 0 0.3em;
} 
.advisor-container .grid-item h4 {
  font-weight: 400;
  color: #7a56f3;
}
@media (min-width:768px){
.advisor-container{
    grid-template-columns: repeat(2, 1fr);
    padding: 20px 40px;
  }
  .advisor-section p:before {
  top: 100px;
}
  .advisor-section p {
    width: 700px;
    margin: auto;
  }
}
@media (min-width:1024px){
.advisor-container{
    grid-template-columns: repeat(3, 1fr);
    padding: 80px;
  }
.team-con{
    grid-template-columns: repeat(4, 1fr);
    padding: 80px;
  }
  .advisor-section p:before {
  top: 100px;
}
.advisor-container .grid-item{
  margin: 20px 10px;
}
}
